p.title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.card .card-title {
    margin-bottom: 0px;
}

p.subtitle {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.transition-wrapper {
    margin: 0px;
    padding: 0px;
}

.modal-90w {
    max-width: 320px;
}

p {
    font-family: "Proxima Nova";
    color: white;
}